<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>-->
{% extends 'admin_index.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">

  <table width="200" border="1" class="table table-hover table-dark" >

    <tr>
      <th>username</th>
      <th>Date</th>
      <th>ambulance number</th>
      <th>ambulance </th>
      <th>Meassage </th>


    </tr>
    {% for i in val %}
    <tr>
         <td>&nbsp;{{i['fname']}}{{i['lname']}}</td>
      <td>&nbsp;{{i['date']}}</td>

      <td>&nbsp;{{i['Anumber']}}</td>
      <td>{{i['dname']}}</td>

      <td>{{i['message']}}</td>

    </tr>
    {% endfor %}
        </table>
</form>
</body>
<!--</html>-->
{% endblock %}
